<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Ajedrez</title>
</head>

<body>
<header>
        <h1>Tablero Ajedrez</h1>
    </header>

<div class="tablero piezas">
  {{#each tablero}}
    {{#each this}}
      <div class="{{#if (isWhiteCell @../index @index)}}blanco{{else}}negro{{/if}}">
        {{#if this}}
          <span class="pieza {{this.color}}" data-info='{{json this}}'>
            {{#if (eq this.tipo "torre")}}{{#if (eq this.color "blanca")}}♖{{else}}♜{{/if}}{{/if}}
            {{#if (eq this.tipo "caballo")}}{{#if (eq this.color "blanca")}}♘{{else}}♞{{/if}}{{/if}}
            {{#if (eq this.tipo "alfil")}}{{#if (eq this.color "blanca")}}♗{{else}}♝{{/if}}{{/if}}
            {{#if (eq this.tipo "reina")}}{{#if (eq this.color "blanca")}}♕{{else}}♛{{/if}}{{/if}}
            {{#if (eq this.tipo "rey")}}{{#if (eq this.color "blanca")}}♔{{else}}♚{{/if}}{{/if}}
            {{#if (eq this.tipo "peon")}}{{#if (eq this.color "blanca")}}♙{{else}}♟︎{{/if}}{{/if}}
          </span>
        {{/if}}
      </div>
    {{/each}}
  {{/each}}
</div>
    <div class="jugador-info">
        <p>Tú: Invitado</p>
      </div>

      <div class="controles-partida">
        <p id="turno-indicador">Turno: <span id="jugador-actual">Blancas</span> </p>
        <button id="btnRendirse" class="boton-partida">Rendirse</button>
        <button id="btnEmpatar"class="boton-partida">Empatar</button>
        <button id="btnNuevaPartida"class="boton-partida">Nueva Partida</button>
      </div>

      <div class="movimientos">
        <h3>Movimientos</h3>
        <div id="lista-movimientos"></div>
      </div>

      <div class="invitar-jugador">
        <h3>Invitar</h3>
        <input type="email" placeholder="Correo del amigo" />
        <button class="boton-partida">Invitar</button>
      </div>
    </main>

    <footer>
      <nav>
        <a href="historia">Historia</a>
        <a href="desarrolladores">Desarrolladores</a>
      </nav>
    </footer> 
    <script>
        const tableroInicial = {{{json tablero}}};
        const turnoInicial = "{{turno}}";
        const partidaId = "{{partidaId}}";
        window.partidaId = "{{partidaId}}";
    </script>
        {{! ---------------------------------------------FUNCIONES DE MOVIMIENTO----------------------------------------------------------------------}}

    <script src="/js/Movimientos.js"></script>

 {{! --------------------------------------------- FUNCIONES PARA DRAG & DROP.......---------------------------------------------------------------------}}

    <script src ="/js/Drag&Drop.js"></script>

{{! ------------------------------------------------------------FUNCIONES PARA EMPATAR, RENDIRSE Y CREAR NUEVA PARTIDA---------------------------------------------------------}}

    <script src="/js/BotonesPartida.js"></script>
</body>
    </html>


    
    
